<div class="relative">
  <nav class="bg-pink-600 text-gray-100">
    <div class="container mx-auto flex justify-between items-center py-3">
      <div class="flex items-center">
        <h1 class="text-xl italic mr-12">
          <a routerLink="">Flirthy</a>
        </h1>
        <ul class="hidden items-center justify-between w-[240px] sm:flex">
          <li class="hover:text-pink-900">Matches</li>
          <li class="hover:text-pink-900">Lists</li>
          <li class="hover:text-pink-900">Messages</li>
        </ul>
      </div>
      <ul class="hidden items-center justify-between w-[140px] sm:flex">
        <li class="hover:text-pink-900">
          <a routerLink="login">Log in</a>
        </li>
        <li class="hover:text-pink-900"><a routerLink="signup">Sign up</a></li>
      </ul>
      <!-- Hamburger Menu -->
      <div
        *ngIf="!isdropMenu"
        class="flex items-center p-1 rounded-full transition hover:bg-gray-50 sm:hidden"
        (click)="onClick()"
      >
        <ng-icon name="ionMenu" class="text-2xl"></ng-icon>
      </div>
      <div
        *ngIf="isdropMenu"
        class="flex items-center p-1 rounded-full transition hover:bg-gray-50 sm:hidden"
        (click)="onClick()"
      >
        <ng-icon name="ionClose" class="text-2xl"></ng-icon>
      </div>
    </div>
  </nav>
  <!-- Dropdown Menu -->
  <div
    *ngIf="isdropMenu"
    class="absolute left-0 right-0 py-2 text-white bg-pink-700 sm:hidden"
  >
    <ul class="" *ngFor="let d of dropdownList">
      <li class="px-[1rem] py-1 hover:bg-pink-700/70" routerLink="{{ d.link }}">
        {{ d.name }}
      </li>
    </ul>
  </div>
</div>
