<div class="flex justify-center mt-14">
  <form class="max-w-[360px] w-full">
    <h1 class="italic text-2xl mb-4 underline text-pink-500">Registration</h1>
    <div class="flex items-center mb-2">
      Gender:
      <div class="mx-3">
        <input type="checkbox" value="male" class="mr-1" />
        <label>Male</label>
      </div>
      <div>
        <input type="checkbox" value="female" class="mr-1" />
        <label>Female</label>
      </div>
    </div>
    <app-input placeholder="Username"></app-input>
    <app-input type="email" placeholder="Email"></app-input>
    <app-input placeholder="Known As"></app-input>
    <app-input type="date" placeholder="Date Of Birth"> </app-input>
    <app-input placeholder="City"></app-input>
    <app-input type="password" placeholder="Password"></app-input>
    <app-input type="password" placeholder="Confirm Password"> </app-input>
    <app-submit-button
      title="Register Now"
      (click)="onSubmit()"
    ></app-submit-button>
    <p class="text-sm text-center mt-4">
      Already have an account?
      <a
        routerLink="/login"
        class="italic text-pink-600 hover:underline hover:text-pink-500"
        >Login now</a
      >
    </p>
  </form>
</div>
